body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.contA{
    width: 1200px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.containerFirst{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    background-color: lightblue;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    padding: 0 10px 10px 10px;
}

.card img{
    height: 230px;
    margin-top: 10px;
}

.titleComm{
    display: flex;
    justify-content: center;
    padding: 20px;
}



/*////////////////////////////////////////////////////////////////*/
/*        SECOND SHEET*/

.containerSecond{
    width: 1200px;
    background-color: lightblue;
}

.movieInfoBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: lightblue;
    padding: 10px;
}



.movieImg{
    height: 400px;
}

.description{
    padding: 20px;
}

.comments{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentBox1{
    display: flex;
    width: 550px;
    margin: 10px 20px;
    background-color: white;
    border-radius: 10px;
}

.commentBoxSmall{
    width: 500px;
}

.namePart{
    margin: 10px;
    height: 30px;
    color: darkred;
    font-weight: 600;
}

.commentPart{
    margin: 10px;
    height: 30px;
    color: #646060;
}

.movieInfoCont{
    display: flex;
    width: 1200px;
    background-color: lightblue;
    height: 500px;
}

.inputPart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#newCom{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    margin: 10px 20px;
    background-color: white;
    border-radius: 10px;
}

.inputPart{
    width: 1200px;
    background-color: lightblue;
}

.contX{
    width: 1200px;
    background-color: lightblue;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.closeBtn{
    height: 20px;
    margin: 5px;
}

.backBtn{
    height: 40px;
    width: 70px;
    background-color: darkred;
    margin: 10px;
}

.createBtn{
    height: 40px;
    width: 100px;
    background-color: darkred;
    margin: 10px;
}

.reviewCont{
    width: 1150px;
    background-color: lightblue;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.submit{
    margin: 15px 0 30px 0;
}

.reviewInput{
    margin: 10px 0 5px 0;
}

.inp1{
    height: 200px;
    width: 400px;
}

